body{
    background-color: #f0f293
  }
  h1{
    font-family: 'Rye', cursive;
    color:#020849;
    font-size: 90px;
    line-height: 200%;
    border-bottom-style: dotted;
    text-align:center;
}
h3{
    font-size: 30px;
    font-family: 'Rye', cursive;
    color:#020849;
    text-align: center;
}
audio{
    display: none;
}
 .text{
    font-family: 'Rye', cursive;
     color: #484951;
     font-size: 26px;
     padding: 10px;
 }
 .footer{
    position:fixed;
    bottom:0;
    width: 100%;
    padding:0;
    line-height: 35px;
    margin:0 auto;
    text-align: center;
  
 }